<div class="ibox account-profile">
    <div class="ibox-content">
        <div class="image">
            <img src="{{ account.image }}" class="img-responsive"/>
        </div>
        <div class="caption">
            
            <div class="h1 username">{{ account.username }}</div>
            <div class="h2 balance">{{ account.balance_format }}
                <a class="btn btn-success btn-xs add-to-balance" href="{{ add_money }}" target="_blank"><span class="fa fa-plus"></span></a>
            </div>
            <div class="h4 name">{{ account.firstname }} {{ account.lastname }}</div>
        </div>
    </div>
</div>